In [20]:
import pandas as pd
from sklearn import datasets, linear_model, model_selection
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix

In [15]:
file_path = 'athletes_sochi.txt'
df = pd.read_csv(file_path)
df.head()

,age,birthdate,gender,height,name,weight,gold_medals,silver_medals,bronze_medals,total_medals,sport,country
0,17,1996-04-12,Male,1.72,Aaron Blunck,68.0,0,0,0,0,Freestyle Skiing,United States
1,27,1986-05-14,Male,1.85,Aaron March,85.0,0,0,0,0,Snowboard,Italy
2,21,1992-06-30,Male,1.78,Abzal Azhgaliyev,68.0,0,0,0,0,Short Track,Kazakhstan
3,21,1992-05-25,Male,1.68,Abzal Rakimgaliev,NaN,0,0,0,0,Figure Skating,Kazakhstan
4,21,1992-07-30,Male,1.86,Adam Barwood,82.0,0,0,0,0,Alpine Skiing,New Zealand

In [16]:
df = df.dropna()
df.shape

(2479, 12)

По разным причинам многие наборы данных реального мира содержат пропущенные значения, часто закодированные как пробелы, NaN или другие заполнители. Однако такие наборы данных несовместимы с оценщиками scikit-learn, которые предполагают, что все значения в массиве являются числовыми и что все они имеют и сохраняют значение.

In [17]:
df["BMI"] = df["weight"] / (df["height"]**2)
df

,age,birthdate,gender,height,name,weight,gold_medals,silver_medals,bronze_medals,total_medals,sport,country,BMI
0,17,1996-04-12,Male,1.72,Aaron Blunck,68.0,0,0,0,0,Freestyle Skiing,United States,22.985398
1,27,1986-05-14,Male,1.85,Aaron March,85.0,0,0,0,0,Snowboard,Italy,24.835646
2,21,1992-06-30,Male,1.78,Abzal Azhgaliyev,68.0,0,0,0,0,Short Track,Kazakhstan,21.461937
4,21,1992-07-30,Male,1.86,Adam Barwood,82.0,0,0,0,0,Alpine Skiing,New Zealand,23.702162
5,21,1992-12-18,Male,1.75,Adam Cieslar,57.0,0,0,0,0,Nordic Combined,Poland,18.612245
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,28,1985-04-30,Male,1.93,Ziga Pavlin,98.0,0,0,0,0,Ice Hockey,Slovenia,26.309431
2853,31,1982-12-05,Female,1.70,Zina Kocher,60.0,0,0,0,0,Biathlon,Canada,20.761246
2854,28,1985-06-14,Female,1.68,Zoe Gillings,65.0,0,0,0,0,Snowboard,Great Britain,23.030045
2856,22,1991-03-01,Male,1.76,Zongyang Jia,68.0,0,0,1,1,Freestyle Skiing,China,21.952479
2857,19,1995-02-06,Female,1.58,Zsofia Konya,54.0,0,0,0,0,Short Track,Hungary,21.631149

In [23]:
def create_and_fit_model(data, x_name_column, y_name_column):
    df_in = data[x_name_column]
    df_out = data[y_name_column].apply(lambda x: int(x == data[y_name_column].iloc[0]))
    print(data[y_name_column].iloc[0], ' = 1')
    
    X_train, X_test, Y_train, Y_test = model_selection.train_test_split(df_in, df_out, test_size=0.2)
    
    model = linear_model.LogisticRegression()
    model.fit(X_train, Y_train)
    
    Y_test_predicted = model.predict(X_test)
    
    [tn, fp], [fn, tp] = confusion_matrix(Y_test, Y_test_predicted)
    print(f'Accuracy: {(tn + tp) / (tp + fp + tn + fn)}')
    
    return model

In [24]:
# МОДЕЛЬ

file_path = '/content/athletes_sochi.txt'
data = pd.read_csv(file_path).dropna()
data['BMI'] = data["weight"] / (data["height"]**2)

first_model = create_and_fit_model(data, ['weight', 'height', 'BMI'], 'gender')

Male  = 1
Accuracy: 0.8709677419354839

In [25]:
# ВТОРАЯ модель с "age"

file_path = '/content/athletes_sochi.txt'
data = pd.read_csv(file_path).dropna()
data['BMI'] = data["weight"] / (data["height"]**2)

second_model = create_and_fit_model(data, ['age', 'weight', 'height', 'BMI'], 'gender')

Male  = 1
Accuracy: 0.8709677419354839

In [26]:
def my_result(model, my_values):
    result = model.predict([my_values])
    print(f'Your sex = {result[0]}')

In [27]:
myH = 2.0
myW = 102
myBMI = myW/(myH**2)
myAge = 27


my_result(first_model, [myW, myH, myBMI])
my_result(second_model, [myAge, myW, myH, myBMI])

Your sex = 1
Your sex = 1

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(